# Spring Active Profile
SPRING_PROFILES_ACTIVE=dev

# Database Connection
POSTGRES_HOST=localhost
POSTGRES_DB=schedulo
POSTGRES_USER=schedulo
POSTGRES_PASSWORD=schedulo

# === Spring Security ===
SPRING_SECURITY_USERNAME=admin
SPRING_SECURITY_PASSWORD=admin

# Generate with: openssl rand -base64 32
SPRING_SECURITY_JWT_SECRET=<secret>

# OAuth Google
SPRING_SECURITY_OAUTH_GOOGLE_CLIENT_ID=<google-client-id>
SPRING_SECURITY_OAUTH_GOOGLE_CLIENT_SECRET=<google-client-secret>

# OAuth Microsoft
SPRING_SECURITY_OAUTH_MICROSOFT_CLIENT_ID=<microsoft-client-id>
SPRING_SECURITY_OAUTH_MICROSOFT_CLIENT_SECRET=<microsoft-client-secret>